.container-fluid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;

}

.about{
  text-align: left;
    min-height: 90vh;

}


.container{
  text-align: left;

}

#head{
  color: black;
}
