.about{
    background-color: #dddddd;
  text-align: left;
    min-height: 90vh;
}

.top{

}

.projects{

}
.container-fluid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
}

#me{
  height: 300px;
  width: 300px;

}


.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}


.container{
  text-align: left;

}


#head{
  color: black;
}

.card{
  display: flex;
  justify-content: center;
  text-align: left;
}
