.container-fluid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;

}

.container{
  margin-left: 0;
  margin-right: auto;
}
