.container-fluid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;


}

.about{
  text-align: left;
    min-height: 90vh;

}


.container{
  text-align: left;

}
